@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manage Personal Contacts</h1>
    <h2>WEB APP</h2>
    @*
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
*@
    <p class="lead">Managing Personal Contacts web app is a free web platform for building great Web Personal Contacts with Web applications using .NET, HTML, CSS and JavaScript.</p>

    <p>
        @*
    <a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a>
*@
        <a href="~/PersonalContacts/" class="btn btn-primary btn-large">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @*
    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
    enables a clean separation of concerns and gives you full control over markup
    for enjoyable, agile development.
*@
            The web app gives you a powerful way to build dynamic web Personal Contacts that
            enables a clean separation and gives you full control and
            enjoyable, agile use.

        </p>
        <p><a class="btn btn-default" href="~/PersonalContacts/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>

        <p>
            @*
    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
*@
            Managing Personal Contacts web app is a free Visual Studio web project that makes it easy to add, remove, and update libraries of multiple records in your contacts.
        </p>

        <p><a class="btn btn-default" href="~/PersonalContacts/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

        <p>
            @*
    You can easily find a web hosting company that offers the right mix of features and price for your applications.
*@
            You can easily find and maintain a web based records in Managinag Personal Contacts web app.
        </p>

        <p><a class="btn btn-default" href="~/PersonalContacts/">Learn more &raquo;</a></p>
    </div>
</div>